.setHeight {
	height: 490px;
	border-width: 0px;
}

#center-text{
	text-align: center;
}

.center-posts {
	/*text-align: center;*/
}

#hide-panel {
	border-width: 0px;
	
}

.body {
  background-color: #333333;
}

.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}

.fix-width {
  width:500px;
  margin-left: 230px;

}

.min-width {
  width:150px;
  margin-left: 230px;
display: block;

}



