.setHeight {
	height: 490px;
	border-width: 0px;
}

#center-text{
	text-align: center;
}

.center-posts {
	/*text-align: center;*/
}

#hide-panel {
	border-width: 0px;
	
}



/*.setPhoto {
	width:360px
	height: 100%;
}*/