<h1>AYYY</h1>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Show Album:</h3>
	</div>
	<div class="panel-body">
		<h1><strong>ID</strong>:this albums id {{ albDetailsCTRL.album._id }}</h1>
		<h1><strong>Name</strong>:this albums name {{ albDetailsCTRL.album.name }}</h1>
	</div>

<h1>BREAK</h1>
<div class="list-group">
	
		<div ng-controller="PostsController as postsCtrl">
		

			<a ng-repeat="post in postsCtrl.posts track by $index" ng-if="post.albumid == albDetailsCTRL.album._id" href="#/posts/{{ post._id }}" class="list-group-item">
	
				<div>

  					<h3 class="list-group-item-heading">{{ post.memory }}</h3>
  					<h3>post's albumid {{ post.albumid }}</h3>
  					<h3> this albums id {{ albDetailsCTRL.album._id }}</h3>
  					
  				</div>

  			</a>
  
  		</div>
  		
</div>




<h1>Add Memory to this Album</h1>
<div class="panel panel-default">
	<div class="panel-heading"><h3 class="panel-title">Add A New Entry</h3></div>
	<div ng-controller="PostsController as postsCtrl" class="panel-body">

		<form id="new-post-form" ng-submit="postsCtrl.addAlbumPost(albDetailsCTRL.album._id, postsCtrl.newPost.memory,postsCtrl.newPost.date,postsCtrl.newPost.avatar_url,postsCtrl.newPost.isPrivate)">

		<input type="file" id="file_input" ng-model="postsCtrl.newPost.avatar_url" ng-click="postsCtrl.sthree()"/>
  			<p id="status">Please select a file</p>
  			<img class="img-responsive"  id="preview" src="" />
		<input type="hidden" id="avatar_url" name="avatar_url" ng-model="postsCtrl.newPost.avatar_url" />
			<div class="form-group">    
		    	<input type="text" name="memory" ng-model="postsCtrl.newPost.memory" placeholder="Memory" class="form-control">
		    </div>
			<div class="form-group">
				<input type="number" name="date" ng-model="postsCtrl.newPost.date" placeholder="Year" class="form-control">
			</div>

			<div>
				<input type="checkbox" name="isPrivate" ng-model="postsCtrl.newPost.isPrivate">
				<label>Would you like this post to be private?</label>
			</div>

<br>
			<div class="text-center">
			<button type="submit" class="btn btn-info btn-block">Submit Entry</button>
			</div>
		</form>
	</div>
</div>
