<div class="jumbotron">
	<h1>ReVisit Soon</h1>	
</div>
	<div class="jumbotron" id="login">
		<h1 id="signup1">Login</h1>		

		<form ng-submit="usersCtrl.login()" id="signup1">
			
			<div class="form-group">
				<label>E-Mail</label>
				<input type="text" class="form-control" ng-model="usersCtrl.user.email">
			</div>

			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" ng-model="usersCtrl.user.password">
			</div>

			<div class="alert alert-danger" ng-if="usersCtrl.error">
				{{ usersCtrl.error }}
			</div>

			<button type="submit" class="btn btn-secondary btn-lg btn-block">
				<span><strong>Login</strong></span>
			</button>

		</form>
	</div>
