<h1>My Posts</h1>
{{jwtCtrl.print()}}
<div class="list-group">
	
		<div ng-controller="PostsController as postsCtrl">
		

			<a ng-repeat="post in postsCtrl.posts track by $index" ng-if="post.userid == jwtCtrl.id" href="#/posts/{{ post._id }}" class="list-group-item">
	
				<div>

  					<h3 class="list-group-item-heading">{{ post.memory }}</h3>
  					<h3>{{ post.userid }}</h3>
  					<h3> {{ jwtCtrl.id }}</h3>
  					
  				</div>

  			</a>
  
  		</div>
  		
</div>

{{1+1}}

<div> {{jwtCtr.id}} </div>
<div> {{jwtCtr.id}} </div>


<form id="new-album-form" ng-submit="jwtCtrl.print()">
		
			<div class="text-center">
			<button type="submit" class="btn btn-info btn-block">run controller</button>
			</div>
		</form>

