<h1>New Entry</h1>
<div class="panel panel-default">
	<div class="panel-heading"><h3 class="panel-title">Add A New Entry</h3></div>
	<div class="panel-body">

		<form id="new-post-form" ng-submit="postsCtrl.addPost(postsCtrl.newPost.memory,postsCtrl.newPost.date,postsCtrl.newPost.avatar_url,postsCtrl.newPost.isPrivate)">

		<input type="file" id="file_input" ng-model="postsCtrl.newPost.avatar_url" ng-click="postsCtrl.sthree()"/>
  			<p id="status">Please select a file (wait to see photo before submitting form)</p>
  			<img class="img-responsive"  id="preview" src="" />
		<input type="hidden" id="avatar_url" name="avatar_url" ng-model="postsCtrl.newPost.avatar_url" />
			<div class="form-group">    
		    	<input type="text" name="memory" ng-model="postsCtrl.newPost.memory" placeholder="Description" class="form-control">
		    </div>
			<div class="form-group">
				<input type="number" name="date" ng-model="postsCtrl.newPost.date" placeholder="Date" class="form-control">
			</div>

			<div>
				<input type="checkbox" name="isPrivate" ng-model="postsCtrl.newPost.isPrivate">
				<label>Would you like this entry to be private?</label>
			</div>

<br>
			<div class="text-center">
			<button type="submit" class="btn btn-info btn-block">Submit Entry</button>
			</div>
		</form>
	</div>
</div>


