<div class="panel panel-default see-borderr" id="hide-panel" ng-hide="carDetailsCtrl.editing">
	
	<div class="panel-body">


		<img style="margin-left: auto;
    margin-right: auto"class="img-responsive" id="flocka" src="{{postDetailsCtrl.post.avatar_url}}" />
		


<div class="col-xs-12 show-font">
		<h4 id="center-text" class="big-ger" >{{ postDetailsCtrl.post.memory }}</h4>
		<br>
		<h6>{{ postDetailsCtrl.post.username }} </h6>
		<h6>{{ postDetailsCtrl.post.date }}</h6>
		
</div>

	</div>



	<span ng-controller="jwtController as jwtCtrl">
	{{jwtCtrl.print()}}
		<div class="text-center" ng-if="postDetailsCtrl.post.userid == jwtCtrl.id">
		
		<div>

		<button  ng-click="postDetailsCtrl.editing=!postDetailsCtrl.editing">
			<span class="glyphicon glyphicon-pencil"></span>
		</button>

		<button  ng-click="postDetailsCtrl.removePost(postDetailsCtrl.post._id)">
			<span class="glyphicon glyphicon-trash"></span>
		

		</div>

		</div>
	</span>	
	<br>


<div class="panel panel-default fontish"  ng-show="postDetailsCtrl.editing">
<!-- <h3><strong>ID</strong>: {{ postDetailsCtrl.post._id }}</h3> -->
	<div class="panel-heading"><h3 class="panel-title">Edit Entry</h3></div>
	<div class="panel-body">
		<form class="" ng-submit="postDetailsCtrl.updatePost(postDetailsCtrl.post._id, postDetailsCtrl.post.memory, postDetailsCtrl.post.date)">
			
			<div class="form-group">    
		    	<input type="text" name="memory" ng-model="postDetailsCtrl.post.memory" placeholder="description" class="form-control">
		    </div>
			<div class="form-group">
				<input type="text" name="date" ng-model="postDetailsCtrl.post.date" placeholder="Year" class="form-control">
			</div>
			<div class="form-group">
				<input type="hidden" name="avatar_url" ng-model="postDetailsCtrl.post.avatar_url" class="form-control">
			</div>
			<div class="text-center">
				<button type="submit" class="btn btn-info btn-block" style="background-color:#80A4C8;border-color:black;">Update Entry</button>
			</div>
			
		</form>
	</div>
</div>