

<div  class="text-center">
        <div >
            <div >
            <br>
              <h1> <strong><span class="big-ger">ReVisit</span></strong></h1>
                <p class="lead big-ged"><i>A digital diary to revisit other times and places in your life</i></p>
            </div>
        </div>

        <br>
        <br>
      

    </div>

<div class="row">
	<div class="col-xs-6 col-md-4" ng-repeat="post in postsCtrl.posts | orderBy:'-_id'" ng-if="post.isPrivate != true">
		 
      <span class="thumbnail setHeight"  class="list-group-item" style="display:table-cell;vertical-align:middle;width:328px;">

          <div class="see-border"style="margin-left:auto;margin-right:auto;">
          <div class="panel-heading "><span class=" fonted panel-title">{{ post.username }} 
          </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fonty">{{ post.date }}</span></div>
  		        <a href="#/posts/{{ post._id }}" > <img src="{{ post.avatar_url }}"> </a> 

               
          </div>
          </span>
          </div>
        
  		
  	</div>

